// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: blue solid 1px;
  border-radius: 10px;
  width: 30%;
  margin: auto;
  padding: 2rem;
}

h1 {
  color: blue;
}

p {
  color: rgb(185, 4, 4);
  font-size: 1.5rem;
}
